body {
  background-color: #dae4e0;
}

.App {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-top: 15vh;
  margin-left: 20vw;
}
.all-pulls {
  /* border-radius: 20%; */
  border: 1px solid #c7c7c7;
  margin: 0vh 5vw;
  border-radius: 15px;
}

.single,
.first {
  /* margin-top: 5vh; */
  /* border-bottom: 1px solid #c7c7c7; */
  /* padding-left: 15vw; */
  padding: 2.5vh 0 2.5vh 15vw;
  /* margin: 0vh 5vw; */
}

.single:hover,
.first:hover {
  background-color: #ecf2f0;
}

.single {
  border-top: 1px solid #c7c7c7;
}

.title-pull {
  margin-bottom: 1vh;
  font-weight: bolder;
}

.label {
  padding: 1vh;
  font-weight: normal;
  color: white;
  border-radius: 15px;
}
